$blue-strong: #1C3B56;
$blue-light: #4f90c6;
$blue-medium: #316A9B;
$blue-opacity: #337ab7;
$light-gray: #bfc9d3;
$yellow: #e0b42d;
$yellow-hover: #896d19;
$white: #ffffff;
$blue-opacity-rgba:rgba(51, 122, 183, .9);
$link-hover-decoration: 'none';

$primary: $blue-strong;
$link-hover-color: $yellow-hover;
$navbar-dark-active-color: $yellow;
$navbar-dark-color: $white;
$navbar-dark-brand-color: $white;
$navbar-dark-hover-color: $yellow;