.blog_post-body h2, .blog_post-body h3,
.blog_post-body h4{
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.blog_post-body ol, .blog_post-body ul{
    list-style-position: inside;
}

.blog_post-body ol li, .blog_post-body ul li{
    margin-bottom: 0.3rem;
}

.blog_post-body blockquote{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.blog_post-body blockquote p{
    font-style: italic;
    font-size: 2rem;
}

.blog_post-post_meta{
    margin-bottom: 4rem;
}

.blog_post-post_meta h1{
    color: #384452;
    margin-top: 4rem;
}


.blog_post-posts figure {
    background: $blue-opacity;
}
.blog_post-posts figure img {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.blog_post-posts figure:hover img {
    opacity: .5;
    cursor: pointer;
}