-i https://pypi.org/simple
pytest-base-url==1.4.2
pytest-html==3.1.1
pytest-metadata==1.11.0
pytest-variables==1.9.0
pytest==7.0.1
selenium==4.1.2
screenpy==4.1.2
pyhamcrest==2.0.4
screenpy_selenium==4.0.3
