-i https://pypi.org/simple
pyhamcrest==2.0.4
pytest==7.4.0
pytest-base-url==2.0.0
pytest-html==3.2.0
pytest-metadata==3.0.0
pytest-variables==3.0.0
python_dotenv==1.0.0
selenium==4.11.2
screenpy==4.2.1
screenpy-selenium==4.0.4
Online-W3C-Validator==0.3.21
urllib3==1.26.19
