#headerwrap {
	background-color: #01D099;
	min-height: 550px;
	padding-bottom: 0px;
	text-align: center;
	width: 100%;
}

#headerwrap h3, h5 {
	color: white;
	font-weight: 400;
}

#headerwrap h1 {
	color: white;
	margin-bottom: 25px;
}

#headerwrap .img-responsive {
	margin: 0 auto;
}

#headerwrap>.row{
	margin-right: 0;
}