<footer class="dq-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h4>{{bag('footer', this.alt, 'about_us')}}</h4>
        <div class="hline-w"></div>
        <p>{{bag('footer', this.alt, 'about_us_description')}}</p>
        <p>
          <a href="{{ '/cookies' | url(alt=this.alt) }}" style="color: #FFFFFF">{{bag('footer', this.alt, 'cookies_policy')}}</a>
        </p>
      </div>
      <div class="col-lg-4">
        <h4>{{bag('footer', this.alt, 'social_networks')}}</h4>
        <div class="hline-w"></div>
        <p>
          <a href="https://github.com/PyBAQ"><i class="fa fa-github"></i></a>
          <a href="https://www.facebook.com/pybaq/"><i class="fa fa-facebook"></i></a>
          <a href="http://twitter.com/pybaq"><i class="fa fa-twitter"></i></a>
          <a href="https://django-python-quilla.slack.com/signup"><i class="fa fa-slack"></i></a>
          <a href="https://www.instagram.com/pybaq"><i class="fa fa-instagram"></i></a>
          <a href="https://www.meetup.com/pythonbaq/"><img src="/img/meetup.png" class="meetup-icon" alt="meetup"></a>
        </p>
        <h4>{{bag('footer', this.alt, 'channels')}}</h4>
        <div class="hline-w"></div>
        <p>
          <a href="https://bit.ly/pyBAQ-whatsapp"><i class="fa fa-whatsapp"></i></a>
          <a href="https://bit.ly/pyBAQ-telegram"><i class="fa fa-telegram"></i></a>
        </p>
      </div>
      <div class="col-lg-4">
        <h4>{{bag('footer', this.alt, 'location_title')}}</h4>
        <div class="hline-w"></div>
        <p>
          {{bag('footer', this.alt, 'location_value')}}<br/>
        </p>
      </div>
      <div class="col-lg-4">
        <h4>{{bag('footer', this.alt, 'code_of_conduct')}}</h4>
        <div class="hline-w"></div>
        <p>
          {{bag('footer', this.alt, 'code_of_conduct_intro')}}
          <a href="{{ '/codigo-de-conducta' | url(alt=this.alt) }}" style="color: #FFFFFF"><u>{{bag('footer', this.alt, 'code_of_conduct')}}</u></a>
        </p>
      </div>
    </div>
  </div>
</footer>
