<footer class="dq-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h4>{{bag('footer', this.alt, 'about_us')}}</h4>
        <p>{{bag('footer', this.alt, 'about_us_description')}}</p>
      </div>
      <div class="col-lg-4">
        <h4>{{bag('footer', this.alt, 'social_networks')}}</h4>
        <div class="hline-w"></div>
        <p>
          <a href="https://github.com/PyBAQ" target="_blank"><i class="fa fa-github"></i></a>
          <a href="https://facebook.com/pybaq" target="_blank""><i class="fa fa-facebook"></i></a>
          <a href="http://twitter.com/pybaq" target="_blank"><i class="fa fa-twitter"></i></a>
          <a href="https://pybaq.slack.com/" target="_blank"><i class="fa fa-slack"></i></a>
          <a href="https://instagram.com/pybaq" target="_blank"><i class="fa fa-instagram"></i></a>
          <a href="https://meetup.com/pythonbaq/" target="_blank"><i class="fa fa-meetup"></i></a>
        </p>
        <h4>{{bag('footer', this.alt, 'channels')}}</h4>
        <div class="hline-w"></div>
        <p>
          <a href="https://bit.ly/pyBAQ-whatsapp" target="_blank"><i class="fa fa-whatsapp"></i></a>
          <a href="https://bit.ly/pyBAQ-telegram" target="_blank"><i class="fa fa-telegram"></i></a>
        </p>
      </div>
      <div class="col-lg-4">
        <h4>{{bag('footer', this.alt, 'guidelines')}}</h4>
        <p>
          {{bag('footer', this.alt, 'cookies_policy_intro')}}
          <a href="{{ '/cookies' | url(alt=this.alt) }}">{{bag('footer', this.alt, 'cookies_policy')}}</a>

        </p>
        <p>
          {{bag('footer', this.alt, 'code_of_conduct_intro')}}
          <a href="{{ '/codigo-de-conducta' | url(alt=this.alt) }}">{{bag('footer', this.alt, 'code_of_conduct')}}</a>
        </p>
      </div>
    </div>
  </div>
</footer>
