
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="{{ '/js/bootstrap.min.js' | url}}"></script>
  <script src="{{ '/js/retina-1.1.0.js' | url}}"></script>
  <script src="{{ '/js/jquery.hoverdir.js' | url}}"></script>
  <script src="{{ '/js/jquery.hoverex.min.js' | url}}"></script>
  <script src="{{ '/js/jquery.prettyPhoto.js' | url}}"></script>
  <script src="{{ '/js/jquery.isotope.min.js' | url}}"></script>
  <script src="{{ '/js/custom.js' | url}}"></script>
