
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="{{ '/js/bootstrap.min.js' | url}}"></script>
  <script src="{{ '/js/retina-1.1.0.js' | url}}"></script>
  <script src="{{ '/js/jquery.hoverdir.js' | url}}"></script>
  <script src="{{ '/js/jquery.hoverex.min.js' | url}}"></script>
  <script src="{{ '/js/jquery.prettyPhoto.js' | url}}"></script>
  <script src="{{ '/js/jquery.isotope.min.js' | url}}"></script>
  <script src="{{ '/js/custom.js' | url}}"></script>
  <script src="//twemoji.maxcdn.com/2/twemoji.min.js"></script>