</div><nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container">
    <a class="navbar-brand" href="{{ '/'|url }}">
      <img src="{{ '/img/python.png' | url}}" alt="Python" width="70" height="70">
      <img src="{{ '/img/pybaq.svg' | url}}" alt="Python Barranquilla" width="170" height="70">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% for menu_item in bag('menu', this.alt, 'items')  %}
          <li class="nav-item">
            <a class="nav-link  {% if this._path==menu_item.url or menu_item.active_childs and this.is_child_of(menu_item.url) %}active{% endif %}" href="{{ menu_item.url | url(alt=this.alt) }}">{{ menu_item.title }}</a>
          </li>
        {% endfor %}
        <li class="nav-item">
          <a class="nav-link" href="{{ '.'|url(alt=bag('menu', this.alt, 'next_lang')) }}">{{bag('menu', this.alt, 'next_lang')| upper}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
