{% macro render_blog_post(post, from_index=false) %}
<div class="blog-post">
      
<!--<p><img class="img-responsive" src="assets/img/post01.jpg"></p>-->

{% if from_index %}
  <h3 class="ctitle"><a href="{{ post|url }}">{{ post.title }}</a></h3>
{% else %}
  <div id="blue">
	    <div class="container">
			<div class="row">
				
        <h3>{{ post.title }}</h2>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /blue -->
{% endif %}
<div class="post-meta"><csmall>Escrito: {{ post.pub_date }}.</csmall> | <csmall2>
   por: {% if post.twitter_handle %}
    <a href="https://twitter.com/{{ post.twitter_handle}}">
      {{ post.author or post.twitter_handle }}
    </a>
  {% else %}
    {{ post.author }}
  {% endif %}</csmall2>
</div>
<div>
    {{ post.body }}
</div>
{% if from_index %}
  <p><a href="{{ post|url }}">[Leer más]</a></p>
{% endif %}
</div>
{% endmacro %}
