{% macro render_miembro(miembro) %}
  <div class="card text-center mb-3">
    <a href="{{ miembro|url }}">
      <img src="{{ miembro.photo }}" class="card-img-top" alt="{{miembro.name}}">
    </a>
    <div class="card-body">
      <h3 class="card-title"><a href="{{ miembro|url }}">{{ miembro.name }}</a></h3>
      <p class="card-text">{{ miembro.work }}</p>
      <div data-animate="fadeIn">
        {% if miembro.website_handle.url %}
          <a href="{{ miembro.website_handle }}" class="member-button"><i class="fa fa-external-link"></i></a>
        {% endif %}
        {% if miembro.email %}
          <a href="mailto:{{ miembro.email }}" class="member-button"><i class="fa fa-envelope"></i></a>
        {% endif %}
        {% if miembro.github_handle %}
          <a href="https://github.com/{{miembro.github_handle}}" class="member-button"><i class="fa fa-github"></i></a>
        {% endif %}
        {% if miembro.twitter_handle %}
          <a href="https://twitter.com/{{miembro.twitter_handle}}" class="member-button"><i class="fa fa-twitter"></i></a>
        {% endif %}
      </div>
    </div>
  </div>
{% endmacro %}

{% macro render_miembro_small(member) %}
  <p><a href="{{ member|url }}">{{ member.name }}</a></p>
{% endmacro %}

{% macro render_project_members(members, project_members) %}
  {% for member in members %}
    {% if member._id in project_members %}
      <div class="project-member col-sm-4">
        {{render_miembro_small(member)}}
      </div>
    {% endif %}
  {% endfor %}
{% endmacro %}

{% macro render_user_projects(user_projects, title) %}
  {% if user_projects %}
    <h3>{{title}}</h3>
    <div class="user-projects row">
      {% for project in user_projects  %}
        <div class="post col-sm-6">
          <p><a href="{{ project|url }}">{{ project.name }}</a></p>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endmacro %}
