{% macro render_miembro(miembro) %}
  <div class="card text-center mb-3">
    <img src="{{ miembro.photo }}" class="card-img-top" alt="{{miembro.name}}">
    <div class="card-body">
      <h3 class="card-title"><a href="{{ miembro|url }}">{{ miembro.name }}</a></h3>
      <p class="card-text">{{ miembro.work }}</p>
      <div data-animate="fadeIn">
        {% if miembro.website_handle.url %}
          <a href="{{ miembro.website_handle }}" class="member-button"><i class="fa fa-external-link"></i></a>
        {% endif %}
        {% if miembro.email %}
          <a href="mailto:{{ miembro.email }}" class="member-button"><i class="fa fa-envelope"></i></a>
        {% endif %}
        {% if miembro.github_handle %}
          <a href="https://github.com/{{miembro.github_handle}}" class="member-button"><i class="fa fa-github"></i></a>
        {% endif %}
        {% if miembro.twitter_handle %}
          <a href="https://twitter.com/{{miembro.twitter_handle}}" class="member-button"><i class="fa fa-twitter"></i></a>
        {% endif %}
      </div>
    </div>
  </div>
{% endmacro %}

