{% macro render_pagination(pagination) %}

<nav aria-label="Blog pagination">
  <ul class="pagination mx-auto" style="width: 250px;">
    
    {% if pagination.has_prev %}
      <li class="page-item">
        <a class="page-link" href="{{ pagination.prev|url }}" aria-label="Anterior">
          <span aria-hidden="true">&laquo; Anterior</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" aria-label="Anterior">
          <span aria-hidden="true">&laquo; Anterior</span>
        </a>
      </li>
    {% endif %}
    <li class="page-item"><a class="page-link" href="#">{{ pagination.page }}</a></li>
    
    {% if pagination.has_next %}
      <li class="page-item"></li>
        <a class="page-link" href="{{ pagination.next|url }}" aria-label="Siguiente">
          <span aria-hidden="true">Siguiente &raquo;</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" aria-label="Siguiente">
          <span aria-hidden="true">Siguiente &raquo;</span>
        </a>
      </li>
    {% endif %}
  </ul>
</nav>
{% endmacro %}
