<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-3">
      <a href='{{ this.url }}'>
        <img
          class="media-object"
          src='{{ this.image if this.image else "/img/event-placeholder.jpg" }}'
          alt="" />
      </a>
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <h3 class="card-title">
          <a href='{{ this.url }}' class="text-decoration-none">{{ this.title }}</a>
        </h3>
        <div class=event-details>
          <div class="venue">
            <strong>{{ this.venue }}</strong>
            <span>{{ this.address }}</span>
          </div>
          <div class="date">{{ this.date | datetimeformat("EEEE, d 'de' MMMM 'de' y, h:mm a") }}</div>
          <div class="attach">
              {{ this.attach }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
