<div class="meetup-events">
  {% for element in bag('meetup', this.source) %}
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-3">
          <img src='{{ element.get("featured_photo").get("photo_link")
                        if element.get("featured_photo")
                        else "/img/event-placeholder.jpg" }}' 
            class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <h3 class="card-title">
              <a class="text-decoration-none" href='{{ element.get("link") }}'>
                {{ element.get("name") }}
              </a>
            </h3>
            <div class=event-details>
              {% if element.get("venue") %}
                <div class="venue">
                  <strong>{{ element.get("venue").get("name") }}</strong>
                  {% if element.get("venue").get("address_1") %}
                    <span>{{ element.get("venue").get("address_1") }}</span>
                  {% endif %}  
                </div>
              {% endif %}
              {% set time_millis = (element.get("time") + element.get("utc_offset")) / 1000  %}
              <div class="date">
                {% if alt == 'en' %}
                  {{ time_millis | datetimeformat("EEEE, MMMM d, y, H:mm") }}</div>
                {% else %}
                  {{ time_millis | datetimeformat("EEEE, d 'de' MMMM 'de' y, h:mm a") }}</div>
                {% endif %}
              <div class="attach">
                {% for blk in this.anexos.blocks %}
                  {% if blk.title == element.get("name") %}
                    {{ blk.attach }}
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class="panel panel-default">
      <div class="panel-body">
        {{ this.empty_message }}
      </div>
    </div>
  {% endfor %}
</div>
