<div class="sponsors">
  <div class="container">
    <div class="row">
      {% if this.title %}
        <h3 class="section-title text-center">{{this.title.upper() }}</h3>
      {% endif %}
      {% for element in bag(this.source, alt) %}
        <div class="col-lg-6 col-md-6 col-sm-6 text-center">
          <a href='{{ element.get("url") }}' target="_blank">
            <img class="img-fluid" src='{{ element.get("image") }}' alt='{{ element.get("name") }}'>
          </a>          
        </div>
      {% endfor %}
    </div>
  </div>
</div>