.dq-footer {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background: $blue-strong;
  text-align: center;
  color: $white;

  i {
    font-size: 2rem;
    color: #bfc9d3;
    padding: 0 0.5rem;
    line-height: 3rem;

    &:hover {
      color: $yellow;
    }
  }

  a {
    color: $white;
    &:hover {
      color: $yellow;
    }
  }
}