.member-button {
    font-size: 1.5rem;
    padding: 0 1rem;
}

.nosotros-miembro {
  max-width: 860px;
  margin: 0.75rem;
  width: 100%;
}

.plog-posts-user .post p,
.user-projects .post p {
  margin-bottom: 5px;
}

.plog-posts-user .post p a::before,
.user-projects .post p a::before {
  content: "•";
  padding-right: 10px;
  padding-left: 14px;
}