.testimonies {
	background: url(/img/testimonies.jpg) $primary no-repeat center top;
  color: $white;
	padding: 3rem;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	width: 100%;

  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  i {
    font-size: 50px;
    margin-bottom: 25px;
  }

}