{% extends "layout.html" %}
{% from "macros/blog.html" import render_blog_post, render_author %}
{% from "macros/pagination.html" import render_pagination %}
{% from "macros/title.html" import render_title %}
{% block title %}Blog{% endblock %}

{% block body %}
{{render_title(this.title)}}
<div class="container">
    <div class="row blog_post-posts">
        {% for post in this.pagination.items %}
        <div class="col-md-6 blog_post-post">
            <div class="card mb-5">
                {% for image in post.attachments.images %}
                    <a href="{{ post|url }}" class="text-decoration-none">
                        <img src="{{ image|url }}" class="card-img-top" alt="">
                    </a>
                {% endfor %}
                <div class="card-body">
                    <h3 class="card-title"><a href="{{ post|url }}" class="text-decoration-none">{{ post.title }}</a></h3>
                    <div class="card-text post-meta"><span class="post-date">{{bag('settings', alt, 'posted')}}: {{ post.pub_date }}.</span> |
                        <span>
                          {{render_author(post, alt)}}
                        </span></div>
                    <div class="post-excerpt">{{ post.excerpt }}</div>
                    <p><a href="{{ post|url }}" class="btn btn-primary">{{bag('settings', this.alt, 'read_more')}}</a></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {{ render_pagination(this.pagination) }}
</div>
{% endblock %}
