{% extends "layout.html" %}
{% from "macros/blog.html" import render_blog_post %}
{% block title %}{{ this.title }}{% endblock %}
{% block seo %}
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@pybaq" />
  <meta name="twitter:creator" content="@{{ this.twitter_handle or pybaq }}" />
  <meta name="description" content="{{ this.excerpt|striptags }}.">
  <meta name="author" content="Python Barranquilla">
  <meta property="og:title" content="{{ this.title }}" />
  <meta property="og:type" content="article" />
  <meta property="og:description" content="{{ this.excerpt|striptags }}" />
  {% for image in this.attachments %}
  <meta property="og:image" content="{{ image|url(external=True) }}" />
  <meta property="og:image:width" content="{{ image.width }}" />
  <meta property="og:image:height" content="{{ image.height }}" />
  {% endfor %}
  <meta property="og:url" content="{{ '.'|url(external=True) }}" />
  <meta property="og:site_name" content="{{ '/'|url(external=True) }}" />
{% endblock %}
{% block body %}
<div id="blue">
    <div class="container">
      <div class="row">
        <h3>Artículo</h3>
      </div>
    </div>
</div>
<div class="container mtb">
  <div class="row">
    <div class="col-lg-8">
      <div class="post-meta blog_post-post_meta">
        {% for image in this.attachments %}
            <p><img class="img-responsive" src="{{ image|url }}"></p>
          {% endfor %}
        <h1 class="ctitle">{{ this.title }}</h1>
        <csmall>Escrito: {{ this.pub_date }}.</csmall> | <csmall2>
        por: {% if this.twitter_handle %}
          <a href="https://twitter.com/{{ this.twitter_handle}}" target="_blank">
            {{ this.author or this.twitter_handle }}
          </a>
        {% else %}
          {{ this.author }}
        {% endif %}</csmall2>
      </div>
      <div id="body-content" class="blog_post-body">
          {{ this.body }}
          <div class="comments">{{ render_disqus_comments() }}</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
