{% extends "layout.html" %}
{% from "macros/blog.html" import render_blog_post, render_author %}
{% from "macros/social.html" import render_social %}
{% block title %}{{ this.title }}{% endblock %}
{% block page_seo %}
  <meta property="og:title" content="{{ this.title }}" />
  {% if this.author %}
    {% set author = site.get('nosotros/' + this.author, alt) %}
    <meta name="twitter:creator" content="@{{ author.twitter_handle }}" />
  {% endif %}
  <meta name="description" content="{{ this.excerpt|striptags }}.">
  <meta property="og:type" content="article" />
  <meta property="og:description" content="{{ this.excerpt|striptags }}" />
{% endblock %}
{% block body %}
{% for image in this.attachments %}
  <div class="d-flex justify-content-center">
    <p><img class="center-block img-fluid" src="{{ image|url }}" alt=""></p>
  </div>
{% endfor %}
<div class="d-flex justify-content-center">
  <div class="blog-post">
    <div class="post-meta blog_post-post_meta">

      <h1 class="ctitle">{{ this.title }}</h1>
      <span class="post-date">{{bag('settings', alt, 'posted')}}: {{ this.pub_date }}.</span> |
      <span class="post-author">
        {{render_author(this, alt)}}
      </span>
    </div>
    <div id="body-content" class="blog-post-body">
        {{ this.body }}
        <div class="comments">{{ render_disqus_comments() }}</div>
    </div>
  </div>
</div>

{{ render_social(this) }}
{% endblock %}
