{% extends "page.html" %}

{% block body %}
  <div class="d-flex justify-content-center">
    <p><img src='{{ this.featured_photo
      if this.featured_photo
      else "/img/event-placeholder.jpg" }}'
    class="img-fluid rounded-start" alt="..."></p>
  </div>
  <div class="d-flex justify-content-center">
    <div class="blog-post">
      <div class="post-meta blog_post-post_meta">
        <h1 class="ctitle">{{ this.title }}</h1>
        <div id="body-content" class="blog-post-body">
          <div class=event-details>
            {% if this.venue %}
              <div class="venue">
                <strong>{{ this.venue }}</strong>
                {% if this.address_1 %}
                  <span>{{ this.address_1 }}</span>
                {% endif %}
              </div>
            {% endif %}
            <div class="date">
              {% if alt == 'en' %}
                {{ this.date_start | datetimeformat("EEEE, MMMM d, y, H:mm") }}
              {% else %}
                {{ this.date_start | datetimeformat("EEEE, d 'de' MMMM 'de' y, h:mm a") }}
              {% endif %}
            </div>
            <div class="attach">
              {{ this.attach }}
            </div>
            {% if this.youtube %}
            <div class="row">
              <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/{{this.youtube}}?rel=0" allowfullscreen></iframe>
              </div>
            </div>
            {% endif %}
            <div class="talks">
              {{ this.talks }}
            </div>
            <a href="{{this.link}}">Meetup</a>
            <div class="details">
              {{ this.information }}
            </div>
          </div>
          <div class="comments">{{ render_disqus_comments() }}</div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
