{% extends "hacktoberfest-2018.html" %}

{% block title %}Hacktoberfest 2018 - Barranquilla | FAQ{% endblock %}



    <main>
      {% block body %}
      <div class="details faq container">
  <h1>
    ¿Qué es Meetup Hacktoberfest BAQ?
  </h1>
  <p class="lead mb-60">
    ¿Tienes dudas? Estas son las preguntas más frecuentes (FAQs por sus siglas en inglés) acerca de Meetup Hacktoberfest BAQ.
  </p>

  <div class="faq--content">
    <h2>General</h2>

    <div class="accordion">
      <h3 class="accordion__trigger">¿Qué es Hacktoberfest?</h3>
      <div class="accordion__pane">
        <p>Hacktoberfest es una iniciativa de Digital Ocean en alianza con Github y Twilio para celebrar el código abierto en todo el mes de octubre.</p>
        <ul>
          <li>¡Hacktoberfest esta abierto para todos a nivel mundial!</li>
          <li>5 pull requests de calidad deben ser subidos a cualquier repositorio abierto en GitHub.</li>
          <li>Puedes inscribirte en cualquier momento entre el 1ero y el 31 de octubre..</li>
        </ul>
        <p>Para mayor información, visita la <a href="https://hacktoberfest.digitalocean.com/">página oficial de Hacktoberfest.</a></p>
      </div>
      
      <h3 class="accordion__trigger">¿Qué es Meetup Hacktoberfest BAQ?</h3>
      <div class="accordion__pane">
        <p>Es una iniciativa de las comunidades de Python Barranquilla, BarranquillaJS, Pioneras Dev BAQ, FullStack Barranquilla, Barranquilla Analítica R y aliados por promover el uso y colaboración de tecnología de código abierto en la ciudad.</p>
      </div>

      <h3 class="accordion__trigger">¿Necesito saber programar para participar?</h3>
      <div class="accordion__pane">
        <p>No necesitas saber, de hecho, tendremos mentores que estarán dispuestos a ayudarte en tus dudas, ya sea si estás empezando o tienes nula experiencia.</p>
      </div>

      <h3 class="accordion__trigger">No se en que proyecto colaborar ¿que me recomiendan?</h3>
      <div class="accordion__pane">
        <p>Tendremos varios proyectos de código abierto, retos y zonas de aprendizaje el día del evento para que puedas pasar un rato agradable.</p>
      </div>

      <h3 class="accordion__trigger">Estoy atascado en un proyecto ¿puedo ir?</h3>
      <div class="accordion__pane">
        <p>Por supuesto, en el evento tendremos varias personas expertas en diferentes lenguajes y frameworks de programación. ¡Ven y te ayudamos en lo que podamos!</p>
      </div>

      <h3 class="accordion__trigger">No se programar ¿puedo ir a ver?</h3>
      <div class="accordion__pane">
        <p>Si puedes venir. Lo importante es que tengas las ganas de aprender, compartir y hablar de lo que nos gusta, la programación. Además, tendremos comida y cervezas gratis.</p>
      </div>

      <h3 class="accordion__trigger">¿Qué debo hacer?</h3>
      <div class="accordion__pane">
        <p>El día del evento lo explicaremos, sin embargo, puedes ir adelantando y leer la <a href="https://hacktoberfest.digitalocean.com/faq">sección de preguntas frecuentes de la página oficial.</a></p>
      </div>

      
    </div>

    <h2>Comunidades</h2>

    <div class="accordion">
      <h3 class="accordion__trigger">Mi comunidad no aparece en la lista ¿Cómo puedo ayudar?</h3>
      <div class="accordion__pane">
        <p>Envíanos un correo a <a href="mailto:djangoquilla@gmail.com">djangoquilla@gmail.com</a>. Nos encantaría contar con ustedes.</a></p>
      </div>
    </div>

    <p>Si tus preguntas no fueron respondidas, por favor envíanos un correo a <a href="mailto:djangoquilla@gmail.com">djangoquilla@gmail.com</a>.</p>
  </div>
</div>
    {% endblock body %}
    </main>
