<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{{ '/ico/favicon.png' | url}}">
  <title>{% block title %}Python Barranquilla - Comunidad de Desarrollo Web{% endblock %} </title>
  <link rel="stylesheet" href="{{ '/static/gen/styles.css'|asseturl }}">
  <link rel="stylesheet" href="{{ '/css/screen.css'|asseturl }}">
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  {% block seo %}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@pybaq" />
    <meta name="twitter:creator" content="@pybaq" />
    <meta name="description" content="Python Barranquilla es una comunidad para todos los interesados en desarrollar aplicaciones en Python dentro de la ciudad de Barranquilla.">
    <meta name="author" content="Python Barranquilla">
    <meta property="og:title" content="{{ this.title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="Python Barranquilla es una comunidad para todos los interesados en desarrollar aplicaciones en Python dentro de la ciudad de Barranquilla." />
    {% for image in this.attachments %}
    <meta property="og:image" content="{{ image|url(external=True) }}" />
    <meta property="og:image:width" content="{{ image.width }}" />
    <meta property="og:image:height" content="{{ image.height }}" />
    {% endfor %}
    <meta property="og:url" content="{{ '.'|url(external=True) }}" />
    <meta property="og:site_name" content="{{ '/'|url(external=True) }}" />
  {% endblock %}
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ '/'|url }}">
          <img class="navbar-logo" src="{{ '/img/pybaq-logo.png' | url}}" alt="Python Barranquilla">
        </a>
      </div>
      <div class="navbar-collapse collapse navbar-right">
        <ul class="nav navbar-nav">
          <li{% if this._path == '/' %} class="active"{% endif %}><a href="{{ '/'|url }}">INICIO</a></li>
          {% for href, title in [
            ['/about', 'NOSOTROS'],
            ['/blog', 'BLOG'],
            ['/eventos', 'EVENTOS'],
            ['/contact', 'CONTACTO']
          ] %}
            <li{% if this.is_child_of(href) %} class="active"{% endif
              %}><a href="{{ href|url }}">{{ title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
  <div style="height: 70px"></div>
  {% block body %}{% endblock %}

  <footer class="dq-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h4>Sobre Nosotros</h4>
          <div class="hline-w"></div>
          <p>Python Barranquilla es una comunidad para todos los interesados en desarrollar aplicaciones en Python dentro de la ciudad de Barranquilla. </p>
        </div>
        <div class="col-lg-4">
          <h4>Código de conducta</h4>
          <div class="hline-w"></div>
          <p>
            El siguiente es nuestro
            <a href="/codigo-de-conducta/">Código de Conducta.</a>
          </p>
        </div>
        <div class="col-lg-4">
          <h4>Redes sociales</h4>
          <div class="hline-w"></div>
          <p>
            <a href="https://github.com/PyBAQ"><i class="fa fa-github"></i></a> 
            <a href="https://www.facebook.com/pybaq/"><i class="fa fa-facebook"></i></a>
            <a href="http://twitter.com/pybaq"><i class="fa fa-twitter"></i></a>
            <a href="https://django-python-quilla.slack.com/signup"><i class="fa fa-slack"></i></a>
            <a href="https://www.instagram.com/pybaq"><i class="fa fa-instagram"></i></a>
            <a href="https://www.meetup.com/pythonbaq/"><img src="/img/meetup.png" class="meetup-icon" alt="meetup"></a>
          </p>
        </div>
        <div class="col-lg-4">
          <h4>Nuestra Ubicación</h4>
          <div class="hline-w"></div>
          <p>
            Barranquilla, Atlántico, Colombia.<br/>
          </p>
        </div>
      </div>
    </div>
  </footer>
  {% include 'layouts/js_files.html' %}

  <script>
    window.onload = function() {
      twemoji.parse(document.body);
    }
    // Portfolio
    (function($) {
      "use strict";
      var $container = $('.portfolio'),
        $items = $container.find('.portfolio-item'),
        portfolioLayout = 'fitRows';
        
        if( $container.hasClass('portfolio-centered') ) {
          portfolioLayout = 'masonry';
        }
            
        $container.isotope({
          filter: '*',
          animationEngine: 'best-available',
          layoutMode: portfolioLayout,
          animationOptions: {
          duration: 750,
          easing: 'linear',
          queue: false
        },
        masonry: {
        }
        }, refreshWaypoints());
        
        function refreshWaypoints() {
          setTimeout(function() {
          }, 1000);   
        }
            
        $('nav.portfolio-filter ul a').on('click', function() {
            var selector = $(this).attr('data-filter');
            $container.isotope({ filter: selector }, refreshWaypoints());
            $('nav.portfolio-filter ul a').removeClass('active');
            $(this).addClass('active');
            return false;
        });
        
        function getColumnNumber() { 
          var winWidth = $(window).width(), 
          columnNumber = 1;
        
          if (winWidth > 1200) {
            columnNumber = 5;
          } else if (winWidth > 950) {
            columnNumber = 4;
          } else if (winWidth > 600) {
            columnNumber = 3;
          } else if (winWidth > 400) {
            columnNumber = 2;
          } else if (winWidth > 250) {
            columnNumber = 1;
          }
            return columnNumber;
          }       
          
          function setColumns() {
            var winWidth = $(window).width(), 
            columnNumber = getColumnNumber(), 
            itemWidth = Math.floor(winWidth / columnNumber);
            
            $container.find('.portfolio-item').each(function() { 
              $(this).css( { 
              width : itemWidth + 'px' 
            });
          });
        }
        
        function setPortfolio() { 
          setColumns();
          $container.isotope('reLayout');
        }
          
        $container.imagesLoaded(function () { 
          setPortfolio();
        });
        
        $(window).on('resize', function () { 
          setPortfolio();          
        });

        $('#body-content').children().children().each(function(index, tag) {
          var url = ($(tag).attr('href') != undefined) ? $(tag).attr('href').toLowerCase() : "";
          if (url.indexOf("pybaq.co") >= 0) {
            if (tag.tagName == 'A') { $(tag).attr('target', '_blank'); }
          }
        });
    })(jQuery);
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-102964527-1', 'auto');
      ga('send', 'pageview');
  </script>
</body>
</html>
 