{% from "macros/title.html" import render_title %}
{% from "macros/miembros.html" import render_user_projects %}
{% extends "layout.html" %}
{% set translated_role = bag('roles', this.alt, this.role) %}

{% block body %}
{{render_title(this.parent.title)}}
<div class="d-flex justify-content-center">
  <div class="nosotros-miembro">
    <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img class="img-fluid rounded-start" src="{{ this.photo }}" alt="{{ this.name }}" style="max-height: 300px;">
      </div>
      <div class="col-md-8 justify-content-center">
          <div class="card-body">
            <h2 class="card-text">{{ this.name }}</h2>
            <h3 class="card-title">{{ translated_role }}</h3>
            <p class="card-text">{{ this.work }}</p>
            <p class="card-text">
              {{ bag('nosotros', this.alt, 'start_activity_placeholder') if not this.start_activity else this.start_activity.strftime('%Y-%m') }}
              -
              {{ bag('nosotros', this.alt, 'end_activity_placeholder') if not this.end_activity else this.end_activity.strftime('%Y-%m') }}
            </p>
            <div data-animate="fadeIn">
              {% if this.website_handle.url %}
                <a href="{{ this.website_handle }}" class="member-button"><i class="fa fa-external-link"></i></a>
              {% endif %}
              {% if this.email %}
                <a href="mailto:{{ this.email }}" class="member-button"><i class="fa fa-envelope"></i></a>
              {% endif %}
              {% if this.github_handle %}
                <a href="https://github.com/{{this.github_handle}}" class="member-button"><i class="fa fa-github"></i></a>
              {% endif %}
              {% if this.twitter_handle %}
                <a href="https://twitter.com/{{this.twitter_handle}}" class="member-button"><i class="fa fa-twitter"></i></a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="contributions-user">
      <h2>{{bag('nosotros', alt, 'contribuciones')}}</h2>
      <div class="contributions-input">{{this.contributions}}</div>

      {% set userPosts = site.query('/blog', alt).filter(F.author == this._id) %}
      {% if userPosts %}
        <h3>{{bag('nosotros', alt, 'post_usuario')}}</h3>
        <div class="plog-posts-user row">
          {% for post in userPosts  %}
            <div class="post col-sm-6">
              <p><a href="{{ post|url }}">{{ post.title }}</a></p>
            </div>
          {% endfor %}
        </div>
      {% endif %}

      {{render_user_projects(
        site.query('/proyectos', alt).filter(F.maintainers.contains(this._id)),
        bag('nosotros', alt, 'projects_organizer')
      )}}

      {{render_user_projects(
        site.query('/proyectos', alt).filter(F.collaborators.contains(this._id)),
        bag('nosotros', alt, 'projects_collaborator')
      )}}
    </div>

    <h3>Eventos</h3>
    {% for event in site.query('/eventos', alt) | speakerevents(this._id) %}
      <div>
        <a href="{{event|url}}">{{event.title}}</a>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block page_seo %}
  <meta property="og:title" content="{{ this.name }}" />
  <meta property="og:type" content="article" />
  <meta property="og:description" content="{{bag('nosotros', alt, 'member_description').format(name=this.name, role=translated_role)}}" />
  <meta property="description" content="{{bag('nosotros', alt, 'member_description').format(name=this.name, role=translated_role)}}" />
{% endblock %}
