{% from "macros/title.html" import render_title %}
{% extends "layout.html" %}
{% block body %}
  {{render_title(this.parent.title)}}
  <div class="container">
    <h2>{{this.name}}</h2>
    <p>{{this.description}}</p>
    <p><a href="{{this.website_handle}}">{{this.website_handle}}</a></p>
    <p><a href="https://github.com/{{this.github_handle}}">{{this.github_handle}}</a></p>
    <h3>Motivación</h3>
    <p>{{this.motivation}}</p>
    <h3>Objetivo general</h3>
    <p>{{this.general_objective}}</p>
    <h3>Objetivos específicos</h3>
    <p>{{this.specific_objective}}</p>
  </div>
{% endblock %}
