{% from "macros/miembros.html" import render_miembro_small, render_project_members %}
{% extends "layout.html" %}
{% block body %}
  {% for image in this.attachments %}
    <div class="d-flex justify-content-center mt-4 mb-2">
      <p><img class="center-block img-fluid" src="{{ image|url }}" alt="" style="max-height: 400px;"></p>
    </div>
  {% endfor %}
  <div class="container mb-4">
    <h1>{{this.name}}</h1>
    <p>{{this.description}}</p>
    <p><a href="{{this.website_handle}}">{{this.website_handle}}</a></p>
    <p><a href="https://github.com/{{this.github_handle}}">{{this.github_handle}}</a></p>
    <h2>Motivación</h2>
    <p>{{this.motivation}}</p>
    <h2>Objetivo general</h2>
    <p>{{this.general_objective}}</p>
    <h2>Objetivos específicos</h2>
    <p>{{this.specific_objective}}</p>
    {% if this.maintainers %}
      <h2>Organizadores</h2>
      <div class="organizadores-proyecto">
        {{render_project_members(site.query('/nosotros', alt), this.maintainers)}}
      </div>
    {% endif %}
    {% if this.collaborators %}
      <h2>Colaboradores</h2>
      <div class="colaboradores-proyecto">
        {{render_project_members(site.query('/nosotros', alt), this.collaborators)}}
      </div>
    {% endif %}
  </div>
{% endblock %}
